<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
          
  <servers>
    <server>
        <id>nexus</id>
        <username>admin</username>
        <password>admin@123</password>
    </server>
  </servers>
          
  <mirror>
    <id>nexus</id>
    <name>nexus</name>
    <url>http://nexus-repository-manager-nexus.apps.cluster-89e8.89e8.sandbox1804.opentlc.com/repository/maven-group/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
  
</settings>  
